/* font-family: 'Metal Mania', cursive;
font-family: 'Loved by the King', cursive; */
body{
    text-align: center;
    color: antiquewhite;
    background-color: black;
    font-family: 'Metal Mania', cursive;
}

.bar{
    margin: 30px;
}
h1{

    margin: 20px;
}
.row{
    color: darkred;
}
.text{
    text-align: center;
    color: darkred;
    font-size: 18px;
    margin-top: 150px;
}


#sign{
    opacity: .75;
}

#painting{
    position: absolute;
    
}

p{
    font-family: 'Loved by the King', cursive;
    background: rgba(0, 0, 0, .85) 
}